<h1>Welcome to SiGn!</h1>

<div class="container">
	<div class="row">
		<div class="col banner">
			<img src="/assets/main.png" class="banner-pic">
			BANNER!
		</div>
	</div>
	<div class="row">
		<div class="col cards">
			<div class="card d-inline-block">
			  <img src="/assets/classroom.jpeg" class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title">Lessons</h5>
			    <p class="card-text">Click to view available lesson packages!</p>
			    <a href="/lessons/index" class="btn btn-primary">Let's go</a>
			  </div>
			</div>

			<div class="card d-inline-block">
			  <img src="/assets/games.png" class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title">Games</h5>
			    <p class="card-text">Click to play games to reinforce your learning!</p>
			    <a href="/games/index" class="btn btn-primary">Let's go</a>
			  </div>
			</div>

			<div class="card d-inline-block">
			  <img src="/assets/bank.jpg" class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title">Word Bank</h5>
			    <p class="card-text">Click to view the SgSL word bank!</p>
			    <a href="/words" class="btn btn-primary">Let's go</a>
			  </div>
			</div>
		</div>
	</div>
</div>