<p id="notice"><%= notice %></p>

<h1>Merdeaf Scores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @merdeaf_scores.each do |merdeaf_score| %>
      <tr>
        <td><%= merdeaf_score.name %></td>
        <td><%= merdeaf_score.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Play Again!', '/games/merdeaf' %>