<div>
	<h1 class="text-holder">SiGn games!</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col cards">
			<div class="card d-inline-block">
			  <img src="/assets/typing.jpg" class="card-img-top" height="230px">
			  <div class="card-body">
			    <h5 class="card-title">Typing game!</h5>
			    <p class="card-text">Read and type away!</p>
			    <a href="/games/merdeaf" class="btn btn-primary">Let's play</a>
			  </div>
			</div>

			<div class="card d-inline-block">
			  <img src="/assets/word-search.png" class="card-img-top" height="230px">
			  <div class="card-body">
			    <h5 class="card-title">Word search</h5>
			    <p class="card-text">Search for words in SgSL!</p>
			    <a href="/games/wordsearch" class="btn btn-primary">Let's play</a>
			  </div>
			</div>

			<div class="card d-inline-block">
			  <img src="/assets/sudoku.jpg" class="card-img-top" height="230px">
			  <div class="card-body">
			    <h5 class="card-title">Sudoku</h5>
			    <p class="card-text">Sudoku puzzles in SgSL!</p>
			    <a href="/games/sudoku" class="btn btn-primary">Let's play</a>
			  </div>
			</div>
		</div>
	</div>
</div>