<h1>SiGn games!</h1>

<div class="container">
	<div class="row">
		<div class="col cards">
			<div class="card d-inline-block">
			  <img src="/assets/main.png" class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title">Swim Merdeaf swim!</h5>
			    <p class="card-text">Help Merdeaf win the race!</p>
			    <a href="/games/merdeaf" class="btn btn-primary">Let's play</a>
			  </div>
			</div>

			<div class="card d-inline-block">
			  <img src="/assets/word-search.png" class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title">Word search</h5>
			    <p class="card-text">Search for words in SgSL!</p>
			    <a href="#" class="btn btn-primary">Let's play</a>
			  </div>
			</div>

			<div class="card d-inline-block">
			  <img src="/assets/sudoku.jpg" class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title">Sudoku</h5>
			    <p class="card-text">Sudoku puzzles in SgSL!</p>
			    <a href="#" class="btn btn-primary">Let's play</a>
			  </div>
			</div>
		</div>
	</div>
</div>