<div>
	<h1 class="text-holder">SiGn Lesson Packs!</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col cards">
			<div class="card d-inline-block">
			  <img src="/pics/abc.jpg" class="card-img-top" height="200px">
			  <div class="card-body">
			    <h5 class="card-title">Alphabets!</h5>
			    <p class="card-text">Let's fingerspell the alphabet!</p>
			    <a href="/lessons/alphabets" class="btn btn-primary">Teach me!</a>
			  </div>
			</div>

			<div class="card d-inline-block">
			  <img src="/pics/numbers.jpg" class="card-img-top" height="200px">
			  <div class="card-body">
			    <h5 class="card-title">Numbers!</h5>
			    <p class="card-text">Let's learn to count from 1 to 20!</p>
			    <a href="/lessons/numbers" class="btn btn-primary">Teach me!</a>
			  </div>
			</div>
		</div>