<h1>SiGn Lessons!</h1>

<div class="container">
	<div class="row">
		<div class="col cards">
			<div class="card d-inline-block">
			  <img src="/assets/abc.jpg" class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title">Alphabets!</h5>
			    <p class="card-text">Let's fingerspell the alphabet together!</p>
			    <a href="#" class="btn btn-primary">Teach me!</a>
			  </div>
			</div>

			<div class="card d-inline-block">
			  <img src="/assets/numbers.jpg" class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title">Numbers!</h5>
			    <p class="card-text">Let's learn numbers!</p>
			    <a href="#" class="btn btn-primary">Teach me!</a>
			  </div>
			</div>
		</div>