/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body{
  	font-family: 'Arimo', sans-serif;
  }

  /* DEFAULT CSS */

  .navbar{
  	height:65px;
  	background-color: #fb8200;
  	padding: 0px;
  	margin-bottom: 30px
  }

  .nav{
  	font-family: 'Arimo', sans-serif;
  	font-size: 125%;
  	font-weight: bold;
  	position: absolute;
  	right: 0;
  	top: 25%;
  }

  li{
  	margin-left: 10px;
  	margin-right: 10px;
  	background-color: #f9dccb;
  	height: 35px;
  	border-radius: 7px;
  	padding: 10px;
  }

 /* MERDEAF CSS */

 .game-title{
 	color:blue;
 	font-family: 'Arimo', sans-serif;
 }

 .alphabets{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .hide-button{
 	display: none;
 }

 .hide-div{
 	display: none;
 }

 .alphabets-slow{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .alphabets-med{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .alphabets-fast{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .img-holder{
 	text-align: center;
 }

 .input-holder{
 	text-align: center;
 }