/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

   /* NAVBAR CSS */

  .navbar{
  	height:65px;
  	background-color: #fb8200;
  	padding: 0px;
  	margin-bottom: 30px
  }

  .nav{
  	font-family: 'Arimo', sans-serif;
  	font-size: 115%;
  	position: absolute;
  	right: 0;
  	top: 25%;
  }

  a:hover{
  	background-color: #f9dccb;
  	color: black;
  	text-decoration: none;
  }

  .navbar-brand:hover{
  	background-color: #fb8200;
  }

  li{
  	margin-left: 10px;
  	margin-right: 10px;
  	background-color: #f9dccb;
  	height: 35px;
  	border-radius: 7px;
  	padding: 10px;
  }


/*APP WIDE CSS*/

  body{
  	font-family: 'Arimo', sans-serif;
  }

  nav{
  	border-radius: 10px;
  }

  .navbar-brand{
  	display: inline;
  }

  .btn-primary{
  	background-color: #f8dccb;
  	border: 2px solid #f8dccb;
  }

  .btn-primary:hover{
  	border: 2px solid #fb8202;
  	background-color: #fb8202;
  	color:black;
  }

.card{
	width: 25%;
}

.text-holder{
	text-align: center;
}
 /* MERDEAF CSS */

 .game-title{
 	color:blue;
 	font-family: 'Arimo', sans-serif;
 	color: #525252;
 	text-align: center;
 	margin-bottom: 20px
 }

 .hide{
 	display: none;
 }

 h5{
 	text-align: center;
 }

 button{
 	font-family: 'Arimo', sans-serif;
 	font-size: 150%;
 	width: 150px;
 	border-radius: 10px;
 	padding: 10px;
 	background-color: #fbb488;
 	font-weight: bold;
 	transition: .4s;
 	border: none;
 }

button:hover {
  background-color: #f72929;
  text-shadow:0px 0px 30px #f72929;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:active{
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: solid 3px #bd6565;
}

 .alphabets{
 	border-radius: 10px;
 	width:10.5%;
 	margin: 5px;
 }

 .alphabets-slow{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .alphabets-med{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .alphabets-fast{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .img-holder{
 	text-align: center;
 }

 .input-holder{
 	text-align: center;
 }

 .merdeaf-holder{
 	text-align: center;
 }

 .trans{
 	opacity:0;
 }

 .countdown{
 	height:80px;
 	text-align: center;
 	font-size: 250%;
 	font-weight: bold;
 }

 .seconds{
 	padding-top: 4%;
 }

 .timer{
 	width: 100%;
 	text-align:right;
 	padding-top: 0px;
 	font-family: 'Chalkduster', fantasy;
 	color: white;
 }

.urgent{
 	color: red;
 	font-size: 270%;
 	font-weight: bold;
 	animation: shake 0.5s;
  animation-iteration-count: infinite;
 }

 .score{
 	font-size: 140%;
 	width: 100%;
 	text-align: right;
 	font-family: 'Chalkduster', fantasy;
 	color: orange;
 }

 .score-holder{
 	font-size: 180%;
 	margin-top: 14px;
 	font-family: 'Chalkduster', fantasy;
 	color: yellow;
 }

 input{
 	width:250px;
 	height: 40px;
 	border-radius: 10px;
 	font-size: 170%;
 	text-align: center;
 }

 .col-6{
 	display:inline-block;
 }

 .hurry{
 	text-align: left
 }

 .level{
 	font-size: 200%;
 	text-align:center;
 	margin-bottom: 10px;
 	color:#fb8202;
 }

 .final{
 	text-align:center;
 }

 .yow {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

 @keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#merdeaf-board{
	height: 480px;
	background-image: url("/pics/chalkboard.png");
	background-size: 100% 480px;
}

/* SUDOKU STYLING */

.grid-holder{
	text-align: center;
	margin: 0 auto;
}

.cell{
	height: 50px;
	width: 10%;
	display: inline-block;
	text-align: center;
	border-radius: 6px;
	margin-right: 3px;
	margin-top: 3px;
	overflow: hidden;
	border: 3px solid #fb820047;
	border-collapse: collapse
}

.cell img{
	margin: 0 auto;
	object-fit: cover;
	width: 100%;
}

.sudoku-holder{
	margin: 0 auto;
}

.start-game{
	margin-bottom: 20px;
}

.game-container{
	text-align: center;
}

#cell-0, #cell-1, #cell-2, #cell-9, #cell-10, #cell-11, #cell-18, #cell-19, #cell-20, #cell-6, #cell-7, #cell-8, #cell-15, #cell-16, #cell-17, #cell-24, #cell-25, #cell-26, #cell-30, #cell-31, #cell-32, #cell-39, #cell-40, #cell-41, #cell-48, #cell-49, #cell-50, #cell-54, #cell-55, #cell-56, #cell-63, #cell-64, #cell-65, #cell-72, #cell-73, #cell-74, #cell-60, #cell-61, #cell-62, #cell-69, #cell-70, #cell-71, #cell-78, #cell-79, #cell-80 {
	border: 3px solid black;
}

.number-input{
	width:100%;
	height: 100%;
	border-radius: 0px;
	border:none;
	border-width: none;
}

.empty-cell{
	font-size: 200%;
	font-family: 'Arimo', sans-serif;
}

.filled-cell{
	font-size: 200%;
	padding-top: 2%;
	font-family: 'Arimo', sans-serif;
}
.start-game{
	width: 230px;
}

.congrats{
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
	color: #fb8200;
}

/* WORDSEARCH STYLING */
.wordies{
	font-family: 'Arimo', sans-serif;
	color: #fb8200;
	font-size: 170%;
	height: 9%;
}

.alp-cell{
	width: 10%;
	display: inline-block;
}

.pic-cell{
	width: 100%;
}

.done{
	border: 2px solid black;
}

.selected{
	border: 2px solid red;
}

.found{
	text-decoration: line-through;
	color: grey;
}

.ins{
	font-family: 'Arimo', sans-serif;
	margin: 0 auto;
	color: #fb8200;
}