/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  body{
  	font-family: 'Arimo', sans-serif;
  }

  /* DEFAULT CSS */

  .navbar{
  	height:65px;
  	background-color: #fb8200;
  	padding: 0px;
  	margin-bottom: 30px
  }

  .nav{
  	font-family: 'Arimo', sans-serif;
  	font-size: 125%;
  	font-weight: bold;
  	position: absolute;
  	right: 0;
  	top: 25%;
  }

  li{
  	margin-left: 10px;
  	margin-right: 10px;
  	background-color: #f9dccb;
  	height: 35px;
  	border-radius: 7px;
  	padding: 10px;
  }




 /* MERDEAF CSS */

 .game-title{
 	color:blue;
 	font-family: 'Arimo', sans-serif;
 	color: #525252;
 	text-align: center;
 	margin-bottom: 20px
 }

 .hide{
 	display: none;
 }

 h5{
 	text-align: center;
 }

 button{
 	font-family: 'Arimo', sans-serif;
 	font-size: 150%;
 	width: 150px;
 	border-radius: 10px;
 	padding: 10px;
 	background-color: #fbb488;
 	font-weight: bold;
 	transition: .4s;
 	border: none;
 }

button:hover {
  background-color: #f72929;
  text-shadow:0px 0px 30px #f72929;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: solid 3px #bd6565;
}

 .alphabets{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .alphabets-slow{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .alphabets-med{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .alphabets-fast{
 	border-radius: 10px;
 	width:11%;
 	margin: 5px;
 }

 .img-holder{
 	text-align: center;
 }

 .input-holder{
 	text-align: center;
 }

 .merdeaf-holder{
 	text-align: center;
 }

 .countdown{
 	height:80px;
 	text-align: center;
 	font-size: 250%;
 	font-weight: bold;
 }

 .seconds{
 	padding-top: 4%;
 }

 .urgent{
 	color: red;
 	font-weight: bold;
 }

 .timer{
 	width: 100%;
 	text-align:right;
 }

 .score{
 	font-size: 160%;
 	width: 100%;
 	text-align: right;
 }

 .score-holder{
 	font-size: 200%;
 	margin-top: 14px;
 }

 input{
 	width:250px;
 	height: 50px;
 	border-radius: 10px;
 	font-size: 180%;
 	text-align: center;
 }

 .col-6{
 	display:inline-block;
 }

 .hurry{
 	text-align: left
 }

 .level{
 	font-size: 200%;
 	text-align:center;
 	margin-bottom: 10px;
 	color:#fb8202;
 }

 .final{
 	text-align:center;
 }